@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
}

.container {
    min-width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

textarea {
    min-width: 100px;
    max-width:500px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.keywords-area{ 
  border-radius:7px;
  border:0.01px solid;
  height:50px;
}

.keywords {
    margin-top:20px;
    margin-bottom: 0px
}

.keywords-p {
    margin-top:0;
}

#keywords::active{
    border:0.01px solid black;
}

.keywords-p {
    margin-bottom: 10px;
}

#submit-button{
    height:35px;
    border: none;
    cursor: pointer;
    font-size:18px;
}

#reset-button{
    height:35px;
    border: none;
    cursor: pointer;
    font-size:18px;
}

#replacement-char{
  border-radius:7px;
}

#output {
    max-width: 800px;
}